@import "compass/css3";
@import "compass/typography/links";
@import "definitions";

#navbar-wrapper {
  border-bottom: 1px solid darken($cedia-dark-blue, 10);
  border: 0;
  background: $cedia-light-blue;
  background: image-url('cedia/header-bg.png') repeat-x scroll center top transparent;
}

ul#navbar-left-links, #navbar #navbar-right-links {
  margin: 20px 20px;
}

#main-logo {
  margin: 25px;
  width: 175px;
  height: 47px;
}

#footer-wrapper {
  border: 0;
}

#footer {
  .footer-languages {
    float: left;
    margin: 30px 0 0 100px;

    li {
      display: inline;
      margin-left: 10px;
    }
  }

  .mconftec {
    float: right;
    margin: 10px 10px 0 0;

    img {
      width: 32px;
      height: 32px;
      @include transition(opacity .5s, border .5s, background .5s);
      opacity: 0.7;
      padding: 3px;
      @include border-radius(4px);
      border: 1px solid $footer-bg-color;
    }

    img:hover {
      opacity: 1;
      background: #fff;
    }
  }

  .mconf {
    float: right;
    margin: 10px 10px 0 0;

    img {
      width: 28px;
      height: 28px;
      @include transition(opacity .5s, border .5s, background .5s);
      opacity: 0.7;
      padding: 6px;
      @include border-radius(4px);
      border: 1px solid $footer-bg-color;
    }

    img:hover {
      opacity: 1;
      background: #fff;
    }
  }

}

#footer-wrapper.simple-footer #footer .languages {
  float: left;
  margin: 20px 0 0 100px;

  li {
    display: inline;
    margin-left: 10px;
  }
}

#footer-logo {
  margin: 10px;
  background: image-url('cedia/logo.png') no-repeat scroll left top transparent;
  background-size: 225px 60px;
  width: 225px;
  height: 60px;
}

#page-header-wrapper {
  background: $cedia-light-blue;
  @include background(linear-gradient(right, $cedia-light-blue, $cedia-header-bg-blue));
}

#navbar ul#navbar-left-links, #navbar ul#navbar-right-links {
  @include font-size($font-medium);

  .dropdown-menu {
    @include font-size($font-normal);
  }
}

#site {
  @include mconf-clearfix;
}

#navbar #navbar-right-links .dropdown {
  .dropdown-menu {
    top: $navbar-height - 47px; // 47 magic number for borders, margins, etc, makes it look good
    box-shadow: none;
    border: 1px solid darken($cedia-light-gray, 3);
  }
}

#page-header-wrapper {
  padding: 10px;
}

#page-menu {
  margin-bottom: -31px; // #page-header's bottom margin -2px
}


/*
 * The box around everything
 */
#content, #footer-wrapper, #navbar-wrapper, #page-header-wrapper {
  width: $contents-width;
  margin: 0 auto;
  background: white;
}
#site {
  background: $cedia-light-gray;
}
#navbar-wrapper {
  @include border-radius(25px 25px 0 0);
  margin-top: 30px;
}
#content {
  padding: 15px 10px;
  background: #fff;
  @include border-radius(0 0 25px 25px);
}
#content-wrapper {
  padding-bottom: 0;
}
#footer-wrapper {
  padding: 10px 10px 0 10px;
  position: relative;
  background: $cedia-light-gray;
}
#footer-pusher {
  display: none;
}
/* end box */

body.spaces.index {
  #content {
    min-height: 600px;
  }
}

body.errors {
  #content-wrapper {
    margin-top: 0;
    border: 0;
    background: $transparent;
  }
  #content {
    min-height: 500px;

    h1, .error-description {
      max-width: $contents-width/2;
    }

    .logo {
      right: 100px;
    }
  }
}

body.frontpage.show {

  #navbar-wrapper {
    background: #fff;
    box-shadow: none;
  }

  #navbar {
    //padding: 10px 50px;

    #main-logo-cedia {
      /* float: left; */
      width: 500px;
      height: 133px;
      margin: 40px auto 0 auto;
    }

    /* #main-logo { */
    /*   margin-right: 100px; */
    /*   float: right; */
    /*   width: 231px; */
    /*   height: 120px; */
    /* } */
  }

  #login-box {
    margin-right: 20px;
  }

  .form-actions {
    background: $transparent;
  }
}
